<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<form action="/coaching" method="get">
  <input type="text" name="query" placeholder="What should I do?">
  <input type="submit">
</form>
